	<div th:fragment="fo">
	<footer class="page-footer" >
		<div class="container">
			<div class="row">
				<div class="col l4 s12">
					<h5 class="white-text">Nuestros servicios</h5>
					<p class="grey-text text-lighten-4">Ofrecemos la venta de todo
						tipo de productos para el hogar, variedad de prutas y verduras,
						alimeto para sus mascotas y nuestra seccion nueva de fiambres
						Pensamos en sus necesidades y nos esforzamos por darle una mejor
						atencion</p>

				</div>
				<div class="col l4 s12">
					<h5 class="white-text">Forma parte de nuestro equipo.</h5>
					<p class="grey-text text-lighten-4"></p>

				</div>
				<div class="col l4 s12" style="overflow: hidden;">
					<h5 class="white-text">Conectar</h5>

					<p class="grey-text text-lighten-4">
						<i class="material-icons">place</i> Localidad: LOS HORNOS<br/>
						Direccion: calle 60 Nro. 2919 e/153 y 154
					</p>

					<p class="grey-text text-lighten-4">
						<i class="material-icons">phone</i> +549 22 16515159
					</p>

					<p class="grey-text text-lighten-4">
						<i class="material-icons">phone_android</i>+549 22 16515159
					</p>

					<p class="grey-text text-lighten-4">
						<i class="material-icons">mail</i>Email:
					</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				2014-2017 Comercio Inegral Anioranzas, algunos derechos reservados.
				<a class="grey-text text-lighten-4 right"
					href="#">
					<span data-th-text="${#calendars.format(hoy,'dd MMMM yyyy')}"></span>
					</a>
			</div>
		</div>
	</footer>
</div>