<div data-th-fragment="marcas" id="marcasFrag">
    <br />
    <div id="erroresMarcas">
        <div id="card-alert" class="card red lighten-5">
            <div class="card-content red-text" id="error"></div>
        </div>
    </div>
    <div class="row">
<div class="col s12 m12 l12 white mdc-elevation--z5 card">
    <form id="formularioMarcas"  enctype="multipart/form-data">
        <div class="col s12 ">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#nuevoMarcas"><span
                        id="opcion">Nuevo</span></a></li>
            </ul>
            <br>
        </div>
        <div id="nuevoMarcas" class="col s12">
                <input type="hidden" name="id" id="id" />
                <div class="input-field col s12 m6 l12 grey-text">
                    <i class="material-icons prefix">short_text</i> <input
                        id="nombre" type="text" class="validate" name="nombre" /> <label>Nombre</label>
                </div>
                <div class="input-field col s12 m4 l4 grey-text center-align" >
                                  <input type="file" id="logo" class="dropify center-aling z-depth-2 responsive-img activator" data-max-file-size="2M" name="logo" data-width='10%' data-height='20%'/>
           
                 <label>Logo</label>
                 </div>
            <div class="input-field col s12 m6 l6 center-aling">

             <img id="imagenEditar" class='z-depth-2 responsive-img activator' width='30%' height='20%' >
        
           </div>
      
                
            <div class="collapsible-header active col s12 m12 l12 card-action center">
            <button class="modal-action waves-effect waves-red btn-flat center" id="cancelarMarcas">Cancelar</button>
             <button class="modal-action waves-effect waves-red btn-flat center" id="btnSubmitMarcas">Guardar</button>
            </div>
                
                
                </div>
            </form>
            
            </div>
      </div>
            
        <div id="modalEliminarMarcas" class="modal">
          <div class="modal-content">
          <input type="hidden" name="id" id="id" />
            <h4>¿ Seguro que desea eliminar ?</h4>
          </div>
          <div class="modal-footer">
           <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat " id="btnEliminarMarca">Eliminar</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancelar</a>
           
          </div>
        </div>


<div class="row">
           <div class="col s12 m12 l12 white mdc-elevation--z5">
      <!--           <button class="mdc-button" data-demo-no-js>
              <i class="material-icons mdc-button__icon">add</i>
              Agregar Marca
            </button> -->
          <table id="tablaMarcas" class="display highlight"
                cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>logo</th>
                        <th>nombre</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
    </div>
    </div>
</div>
