<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="description"
	content="Anioranzaz Comercial al servicio de sus clientes. " />
<title>Comercial Anioranzas</title>
<!-- Favicons-->
<meta name="msapplication-TileColor" content="#FFFFFF" />
<!--  Android 5 Chrome Color-->
<meta name="theme-color" content="#EE6E73" />
<!-- CSS-->
<link th:href="@{/assets/css/materialize.css}" rel="stylesheet" />
<link th:href="@{/assets/css/prism.css}" rel="stylesheet" />
<link th:href="@{/assets/css/style.css}" rel="stylesheet" />
<link th:href="@{/assets/css/ghpages-materialize.css}" type="text/css"
rel="stylesheet" media="screen,projection" />
  
</head>
<body>
	<div th:insert="~{header :: he}"></div>
<main>
<div class="container">
  <div class="row">
  	<div class="col s12 m9 l10">
  	llwgr?
  		<div th:replace="${plantilla} :: ${fragmento}"></div>
  		
  		
  	 <!-- Table of Contents -->
    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper">
        <div style="height: 1px;">
        </div>
      </div>
    </div>
  </div>
</div>
</div><!-- End Container -->
</main>

		<div th:insert="~{footer :: fo}"></div>
	
	<!--  Scripts-->
	<script th:src="@{/assets/bin/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/assets/js/jquery.timeago.min.js}"></script>
	<script th:src="@{/assets/js/prism.js}"></script>
	<script th:src="@{/assets/jade/lunr.min.js}"></script>
	<script th:src="@{/assets/jade/search.js}"></script>
	<script th:src="@{/assets/bin/materialize.js}"></script>
	
	<script th:src="@{/assets/js/init.js}"></script>
	
	<script th:src="@{/assets/js/init.js}"></script>
	


</body>
</html>