<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="description"
	content="Anioranzaz Comercial al servicio de sus clientes. " />
<title>Comercial A&ntildeoranzas</title>
<!-- Favicons-->
<meta name="msapplication-TileColor" content="#FFFFFF" />
<!--  Android 5 Chrome Color-->
<meta name="theme-color" content="#EE6E73" />
<!-- CSS-->

<link th:href="@{/assets/css/materialize.min.css}" rel="stylesheet" />
<link th:href="@{/assets/css/prism.css}" rel="stylesheet" />
<link th:href="@{/assets/css/style.css}" rel="stylesheet" />
<link th:href="@{/assets/css/ghpages-materialize.css}" type="text/css"
    rel="stylesheet" media="screen,projection" />
<link href="https://fonts.googleapis.com/css?family=Inconsolata"
    rel="stylesheet" type="text/css" />
    
<!--dropify-->
  <link th:href="@{/assets/js/plugins/dropify/css/dropify.min.css}" type="text/css" rel="stylesheet" media="screen,projection">    



<!-- Data Tables -->



<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="http://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css"
	type="text/css">
<script
	src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

  <link th:href="@{/assets/css/perfect-scrollbar.css}" type="text/css" rel="stylesheet" media="screen,projection">
  <link th:href="@{/assets/css/chartist.min.css}" type="text/css" rel="stylesheet" media="screen,projection">
  <link th:href="@{/assets/js/nestable.css}" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body>
	<div th:replace="~{header :: he}"></div>
	<main>
	<div class="container">
		<div class="row">
			<div class="col s12 m9 l10">
				<div id="cuerpo">
					<div th:replace="${plantilla} :: ${fragmento}"></div>
				</div>
				<!-- Table of Contents -->
				<div class="col hide-on-small-only m3 l2">
					<div class="toc-wrapper">
						<div style="height: 1px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Container --> </main>
	<div th:replace="~{footer :: fo}"></div>

	<!--  Scripts-->
	<script th:src="@{/assets/js/jquery.timeago.min.js}"></script>
	<script th:src="@{/assets/js/prism.js}"></script>
	<script th:src="@{/assets/jade/lunr.min.js}"></script>
	<script th:src="@{/assets/jade/search.js}"></script>
	
	<script th:src="@{/assets/js/materialize.min.js}"></script>
	
	  
    
    <script type="text/javascript" th:src="@{/assets/js/chartist.min.js}"></script>   

	<script th:src="@{/assets/js/init.js}"></script>
	
	<script th:src="@{/servicios/query.valida.js}"></script>
	<script th:src="@{/servicios/query.usuarios.js}"></script>
	<script th:src="@{/servicios/query.categoria.js}"></script>
	<script th:src="@{/servicios/query.empresas.js}"></script>
	<script th:src="@{/servicios/query.marcas.js}"></script>
	<script th:src="@{/servicios/query.contactos.js}"></script>
	<script th:src="@{/servicios/query.proveedores.js}"></script>
	<script th:src="@{/servicios/query.productos.js}"></script>
	<script th:src="@{/servicios/query.sector.js}"></script>
	<script th:src="@{/servicios/query.roles.js}"></script>
	<!-- dropify -->
    <script type="text/javascript" th:src="@{/assets/js/plugins/dropify/js/dropify.min.js}"></script>
	
    <script type="text/javascript">
        $(document).ready(function(){
            // Basic
            $('.dropify').dropify();

            // Translated
            $('.dropify-fr').dropify({
                messages: {
                    default: 'Glissez-déposez un fichier ici ou cliquez',
                    replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                    remove:  'Supprimer',
                    error:   'Désolé, le fichier trop volumineux'
                }
            });

            // Used events
            var drEvent = $('.dropify-event').dropify();

            drEvent.on('dropify.beforeClear', function(event, element){
                return confirm("Do you really want to delete \"" + element.filename + "\" ?");
            });

            drEvent.on('dropify.afterClear', function(event, element){
                alert('File deleted');
            });
        });
    </script>
</body>
</html>