<div data-th-fragment="proveedores" id="proveedoresFrag">
    <br />
    <div id="erroresProveedores">
        <div id="card-alert" class="card red lighten-5">
            <div class="card-content red-text" id="error"></div>
        </div>
    </div>

	<div class="row" id="nuevoProveedor">

		<div class="col s12 m12 l12 white mdc-elevation--z5">
			<ul class="tabs">
				<li class="tab col s3"><a class="active" href="#test1"><span
						id="opcion_proveedores">proveedores</span></a></li>
			</ul>

			<div id="test1" class="col s12">
				<form id="formulario_proveedores">
					<input type="hidden" name="id" id="id" />

					<div class="input-field col s12 m12 l12 grey-text">
						<div class="col s12 m10">
							<select id="idempresa" name="idempresa">
								<option  disabled selected>Selecionar Empresa</option>
								<option data-th-each="e:${empresas}" data-th-value="${e.id}"
									data-th-text="${e.nombre}"></option>
							</select>
						</div>
						<div class="col s12 m2">
							<a href="empresas" class="grey-text "><i
								class="material-icons prefix right">create</i></a>
						</div>
					</div>
					<div class="input-field col s12 m12 l12 grey-text">
						<div class="col s12 m10">
							<i class="material-icons prefix">people</i> <select
								id="idcontacto" name="idcontacto">
								<option  disabled selected>selecionar contactos.</option>
								<option data-th-each="c:${contactos}" data-th-value="${c.id}"
									data-th-text="${c.nombre}+' '+${c.ap}"></option>
							</select>
						</div>
						<div class="col s12 m2">
							<a href="contactos" class="grey-text "><i
								class="material-icons prefix right">create</i></a>
						</div>
					</div>
					<div class="collapsible-header active">
						<a
							class="modal-action modal-close waves-effect waves-red btn-flat "
							data-th-href="@{/usuarios}" id="cancelar_editar_proveedores">Cancelar</a>
						<a
							class="modal-action modal-close waves-effect waves-red btn-flat"><input
							name="4" value="Guardar" type="submit"
							id="btn_submit_proveedores" /></a>
					</div>
				</form>


			</div>


		</div>
	</div>
      <div id="modalEliminarProveedores" class="modal">
          <div class="modal-content">
          <input type="hidden" name="id" id="id" />
            <h4>¿ Seguro que desea eliminar ?</h4>
          </div>
          <div class="modal-footer">
           <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat " id="btnEliminarProveedor">Eliminar</a>
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Cancelar</a>
           
          </div>
        </div>

	<div class="row" id="contenedorProveedores">
		<div class="col s12 m12 l12 white mdc-elevation--z5">
			<table id="proveedores_tabla" class="display dataTable cell-border"
				cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>nombre empresa</th>
						<th>Nombre del contacto</th>
						<th>Apellido  Cntacto</th>
						<th>Movil contacto</th>
						<th></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>




















